body {
    margin: 0;

    header {
        height: 191px;
        border-bottom: 1px solid grey;
    }

    main {
        display: flex;
        justify-content: center;
        background-color: #fcfcfc;

        .container {
            width: 1000px;
            display: flex;

            .left__sidebar {
                width: 300px;
                border: 1px solid grey;
            }

            .div__content {
                border: 1px solid grey;

                .content__header {
                    padding: 16px;
                    border: 1px solid grey;
                }

                .content__results {
                    margin: 0;
                    // padding-left: 16px;
                    // padding-right: 16px;
                    border: 1px solid grey;
                    padding: 16px;

                    .result__card {
                        display: flex;
                        background-color: white;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
                        margin-bottom: 16px;

                        img {
                            width: 287px;
                            height: 136px;
                        }
                    }

                    .result__card:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}