body {
    margin: 0;

    header {
        height: 191px;
        border-bottom: 1px solid grey;
    }

    main {
        display: flex;
        justify-content: center;

        .container {
            width: 1000px;
            display: flex;

            .left__sidebar {
                width: 300px;
                border: 1px solid grey;
            }

            .div__content {
                border: 1px solid grey;
            }
        }
    }
}